header{
    font-family: $fuente_secundaria !important;
}

.navbar{
    img{
        width: auto !important;
        height: 70px !important;
    }
}

header, .bg-body-tertiary{
    background-color: $color_principal !important;
} 

.nav-link{
    color: $color_fuente_fondo !important;
}

.active{
    font-weight: bold !important;
}

.btn-primary{
    @include boton()
}

.dropdown-menu{
    img{
        width: 30px !important;
        height: auto !important;
    } 
}

.carousel {
    background-image: url("../img/background-players.png") !important;
    img {
        padding-top: 25px !important;  
        padding-bottom: 25px !important;
        height: 600px !important;
        width: auto !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.carousel-invertido {
    // imagen de fondo invertida
    background-image: url("../img/background-players-reverse.png") !important;
    background-position: right top !important;
    background-repeat: no-repeat !important;
}

.texto-banner{
    color: $color_secundario !important;
    font-family: $fuente_principal !important;
}

.col-jugadores-banner{
    padding: 0 !important;
}