// Variables de color
$color_principal: #000d4c;
$color_secundario: #000a3c;
$color_terciario: #ffe100;
$color_fuente_fondo: #fff;

// Variables de tipografía
$fuente_principal: "Bebas Neue", sans-serif;
$fuente_secundaria: "Roboto", sans-serif;

// Variables de tamaño de fuente
$fuente_h1: 64px;
$fuente_h2: 48px;
$fuente_h3: 36px;
$fuente_h4: 24px;
$fuente_h5: 18px;
$fuente_h6: 16px;
$fuente_p: 14px;



