// Variables de color
$color_principal: #000d4c;
$color_secundario: #000a3c;
$color_terciario: #ffe100;
$color_fuente_fondo: #fff;

// Variables de tipografía
$fuente_principal: "Bebas Neue", sans-serif;
$fuente_secundaria: "Roboto", sans-serif;

